{% extends 'base.html' %}

{% block title %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<title>Reviews</title>
<style>
    body{
        background-image:none;
        color:black;
    }
</style>
{% endblock title %}

<!-- <div class="container"> -->

        {% block word_cloud %}
  
        </li>
        {% endblock word_cloud %}


        {% block searchbar %}

        <form action="/review" method="POST" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="content" type="search" placeholder="Search"
                        aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        {% endblock searchbar %}
<!-- </div> -->

{% block body %}
<div class="container">
       {%if urls%}
       <br><br>
       {% for link in urls %}
        <h3 style="color:orange;">{{link[3]}}:----</h3>
        <br>
        <a href={{link[0]}} target="_blank" style="color:rgb(228, 152, 251);">{{link[1]}}</a>
        <h6>rupee.  {{link[2]}}</h6>
        <label>---------------------------------------------------------------------------</label>
        <br><br>
        {% endfor %}
        {%endif%}
        <br><br>
        <div>
        <h3 style="color:orange;">related youtube links for search</h3>
        <br><br>
        {%for i in youtube%}
        <a href={{i[1]}} target="_blank" style="color:rgb(83, 14, 243);">{{i.get('title')}}</a>
        <br>
        {%endfor%}
        </div>

</div>
{% endblock body %}